@import "../../styles/variables.scss";

.board {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
}

.baseCard {
  margin-top: $spacing-3xl;
  margin-bottom: $spacing-3xl;
}

.targetCards {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}
