@import "../../styles/variables.scss";

.board {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
}

.targetCards {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}
